<!DOCTYPE html>
<html>

<head>
    <title>Register</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+header.css" rel="stylesheet">
    <link href="/css/sltyles+register-login.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header')%>
    <main>
        <h2>Registrate</h2>
        <section id="formulario">
            <ul class="errorescamp"></ul>
            <form method="POST" action="/register" enctype="multipart/form-data" >
                <div class="form">
                    <label for="nombre"></label>
                    <input type="text" name="nombreCompleto" id="nombre" placeholder="Nombre completo"
                    value="<%= locals.oldData ? oldData.nombreCompleto : null %>">
                    <div id = "errorNombre" class="containerError"></div>
                    <% if (locals.errors && errors.nombreCompleto){ %>
                    <div class="mensajeError">
                        <%= errors.nombreCompleto.msg %>
                    </div>
                   <% } %>
                </div>
                <div class="form">
                    <label for="usuario"></label>
                    <input type="text" name="usuario" id="usuario" placeholder="Usuario"
                    value="<%= locals.oldData ? oldData.usuario : null %>">
                    <div id = "errorUsuario" class="containerError"></div>
                    <% if (locals.errors && errors.usuario){ %>
                        <div class="mensajeError">
                            <%= errors.usuario.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form">
                    <label for="password"></label>
                    <input type="password" name="password" id="password" placeholder="Contraseña"
                    value="">
                    <div id = "errorPassword" class="containerError"></div>
                    <% if (locals.errors && errors.password){ %>
                        <div class="mensajeError">
                            <%= errors.password.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form">
                    <label for="fecha-de-nacimiento"></label>
                    <input type="date" name="fechaDeNacimiento" id="fechadenacimiento" placeholder="Fecha de nacimiento"
                    value="<%= locals.oldData ? oldData.fechaDeNacimiento : null %>"
                    >
                    <div id = "errorFecha" class="containerError"></div>
                </div>
                <div class="form">
                    <label for="email"></label>
                    <input type="email" name="email" id="email" placeholder="Email"
                    value="<%= locals.oldData ? oldData.email : null %>"
                    >
                    <div id = "erroremail" class="containerError"></div>
                    <% if (locals.errors && errors.email){ %>
                        <div class="mensajeError">
                            <%= errors.email.msg %>
                        </div>
                       <% } %>
                </div>
                <div class="form">
                    <span>
                        <label for="celular"></label>
                        <input type="tel" name="celular" id="celular" placeholder="Celular"
                        value="<%= locals.oldData ? oldData.celular : null %>"
                        >
                        <div id = "errorcelular" class="containerError"></div>
                        <% if (locals.errors && errors.celular){ %>
                            <div class="mensajeError">
                                <%= errors.celular.msg %>
                            </div>
                        <% } %>
                    </span>
                </div>
                
                <div class="form">
                    <label for="categoria"></label>
                    <select name="categoria" id="categoria">
                        <option value="">Categoría</option>
                        <%
                        let categoria = ['Comprador', 'Vendedor'];
                        %>
                        <% for (const unaCategoria of categoria) { %>
                            <option value="<%= unaCategoria %>"
                                    <%= locals.oldData && (unaCategoria === oldData.categoria) ? 'selected' : null %>
                            > <%= unaCategoria %> </option>
                        <% } %>
                    </select>
                    <div id = "errorCategoria" class="containerError"></div>
                    <% if (locals.errors && errors.categoria){ %>
                        <div class="mensajeError">
                            <%= errors.categoria.msg %>
                        </div>
                    <% } %>
                </div>
            </div>
            <div class="form">
            <label for ="avatar"> </label>
            <input type="file"   name="avatar" id="image" placeholder="Elige una imagen">
            <div id = "errorImage" class="containerError"></div>
            <% if (locals.errors && errors.avatar){ %>
                <div class="mensajeError">
                    <%= errors.avatar.msg %>
                </div>
            <% } %>
            </div>
                <div class="checkbox">
                    <label for="terminos">Acepto los <a class="terminos" href="#">terminos y condiciones</a></label>
                    <input type="checkbox" name="terminos">
                </div>
                <div class="checkbox">
                    <label for="newsletter">Deseo recibir ofertas</label>
                    <input type="checkbox" name="newsletter">
                </div>
                <button type="submit">Registrarse</button>
            </form>
            <p>
                Ya tenes cuenta? <a class="terminos" href="/login">Log in</a>
            </p>
        </section>
    </main>
    <%- include('../partials/footer')%>
    <script src= "js/register.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>