<!DOCTYPE html>
<html>

<head>
    <title>Editar Producto</title>
    <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
    <meta name="viewport" content="width=device-wid th">
    <meta charset="utf-8">
    <link href="/css/styles+header.css" rel="stylesheet">

    <link href="/css/styles vender.css" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e3500cfe31.js" crossorigin="anonymous"></script>
</head>

<body>
    <%- include('../partials/header')%>
    <main>
        
        <h2> EDITAR VEHICULO </h2>
        <br>
        <br>
        <ul class="errorescamp"></ul>
        <form action="/editar/<%=bases[6].id%>?_method=PUT" method="POST"  enctype="multipart/form-data" >
            <div class="formulario" id="formulario">
                <div class="part1">
                    <div class="form">
                        <p> Marca  </p><select  onclick="empty()" type="text" name="marca" id="marca" placeholder="Marca"  >
                            <option value=<%=bases[0][(bases[6].brand_id-1)].brand %> selected disabled hidden><%=bases[0][(bases[6].brand_id-1)].brand %></option>
                            <% for(let i= 0; i < bases[0].length; i++){ %>
                                    <option value=<%= bases[0][i].id %> > <%= bases[0][i].brand %></option>
                            <% } %>
                        </select>
                    </div>
                    <div class="form">
                        <p> Modelo  </p><select onclick="filterModel()"   type="text" name="modelo" id="modelo" placeholder="Modelo"  >
                            <option value=<%= bases[1][(bases[6].model_id-1)].model %> selected disabled hidden><%= bases[1][(bases[6].model_id-1)].model %></option>
                        <% for(let i= 0; i < bases[1].length; i++){ %>
                                <option value=<%= bases[1][i].id %> > <%= bases[1][i].model %></option>
                        <% } %>
                        </select>
                    </div>
                    <div class="form">
                        <p> Kilometraje </p><select type="number" name="kilometraje" id="kilometraje" placeholder="Kilometraje"  >
                            <option value=<%=bases[3][(bases[6].km_id-1)].intervals%> selected disabled hidden><%=bases[3][(bases[6].km_id-1)].intervals%></option>
                            <% for(let i= 0; i < bases[3].length; i++){ %>
                                    <option value= <%= bases[3][i].id %> ><%= bases[3][i].intervals %></option>
                            <% } %>
                            </select >
                    </div>
                    <div class="form">
                        <p> Precio </p><input type="number" name="precio" id="precio" placeholder="Precio"   value="<%=bases[6].prices *10%>">
                    </div>
                    <div class="form">
                        <p> Combustible </p><select type="text" name="combustible" id="combustible" placeholder="Combustible" value=<%=bases[6].fuel_type%>>  >
                        <option value="Nafta" >Nafta </option>
                        <option value="Gasoil" >Gasoil</option>
                        <option value="GNC" >GNC </option>
                        <option value="Electrico" >Electrico </option>
                    </select >
                    </div>  

                </div>
                <div class="part2">
                    <div class="form">
                        <p> Color </p><select type="text" name="color" id="color" placeholder="Color"  >
                            <option value=<%= bases[5][(bases[6].color_id-1)].color%>selected disabled hidden><%= bases[5][(bases[6].color_id-1)].color%></option>
                            <% for(let i= 0; i < bases[5].length; i++){ %>
                                    <option value= <%= bases[5][i].id %> ><%= bases[5][i].color%></option>
                            <% } %>
                            </select >
                    </div>
                    <div class="form">
                        <p> A침o </p><select type="number" name="year" id="year" placeholder="A침o"  value="<%=bases[6].year%>">>
                            <option value=<%=bases[4][(bases[6].year_id-1)].year%> selected disabled hidden><%=bases[4][(bases[6].year_id-1)].year%></option>
                            <% for(let i= 0; i < bases[4].length; i++){ %>
                                    <option value= <%= bases[4][i].id %> ><%= bases[4][i].year %></option>
                            <% } %>
                            </select >
                    </div>
                    <div class="form">
                        <p> Transmision </p><input type="text" name="transmision" id="transmision" placeholder="Transmision"  value=<%=bases[6].transmission%>>
                    </div>
  
                    <div class="form">
                        <p> Condici칩n </p><input type="text" name="condicion" id="condicion" placeholder="Condici칩n" value=<%=bases[6].conditions%>>
                    </div>
                    <div class="form">
                        <p> Categoria </p><select type="text" name="categoria" id="categoria" placeholder="Categoria"  >
                        <option value=<%=bases[2][(bases[6].categories_id)].type_auto%> selected disabled hidden><%=bases[2][(bases[6].categories_id)].type_auto%></option>
                        <% for(let i= 0; i < bases[2].length; i++){ %>
                                <option value= <%= bases[2][i].id %> ><%= bases[2][i].type_auto %></option>
                        <% } %>
                        </select >
                    </div>
                </div>
                </div>
                <br>
                <p> Descripcion </p><input class="description" type="text" name="descripcion" id="descripcion" placeholder="Danos una breve descripcion del estado del vehiculo"  
                value="<%= locals.old && locals.old.descripcion? locals.old.descripcion : bases[6].descripcion %>"></input>

            <br>
            <% if(locals.errors && errors.descripcion){ %>
                <p class="mensajeError"><%= errors.descripcion.msg %> </p>
            <% } %>
            <br>

                <br>
                <div class="contenedor-img">
                    <div class="custom-file">
                        <label for ="image" >
                            <img id="blah" src="\images\autos\<%=bases[6].image_filename%>"alt="" />
                        </label>
                        <input type="file"   name="imagen"  id="image" placeholder="Elige una imagen" accept=".png, .jpg, .jpeg" value="" />  
                        <% if(locals.errors && errors.image){ %>
                            <p class="mensajeError"><%= errors.image.msg  %> </p>
                        <% } %>
                    </div>
                    <br>
                    <div class="custom-file"> 
                        <label for ="image2">
                            <img id="blah2" src="\images\autos\<%=bases[6].image_filename2%>" alt="" />
                        </label>
                    <input  type="file" name="imagen2" id="image2" placeholder="image 2"  accept=".png, .jpg, .jpeg" value="" />  
        
                    <% if(locals.errors && errors.image2){ %>
                    <p class="mensajeError"><%= errors.image2.msg %> </p>
                    <% } %>
                    </div>
                    <br>
                    <div class="custom-file">
                        <label for ="image3">
                            <img id="blah3" src="\images\autos\<%=bases[6].image_filename3%>" alt="" />
                        </label>
                    <input  type="file" name="imagen3"  id="image3" placeholder="image 3"  accept=".png, .jpg, .jpeg" value="" /> 
                    
                    <% if(locals.errors && errors.image3){ %>
                    <p class="mensajeError"><%= errors.image3.msg  %>  </p>
                    <% } %>
                    </div>
                    <br>
                    <div class="custom-file">
                        <label for ="image4">
                            <img id="blah4" src="\images\autos\<%=bases[6].image_filename4%>" alt="" />
                        </label>
                    <input  type="file" name="imagen4" id="image4" placeholder="image 4"  accept=".png, .jpg, .jpeg"  value="" /> 
                    
                    <% if(locals.errors && errors.image4){ %>
                    <p class="mensajeError"><%= errors.image4.msg  %>  </p>
                    <% } %>
                    </div>
                    <br>
                    <div class="custom-file">
                        <label for ="image5">
                            <img id="blah5" src="\images\autos\<%=bases[6].image_filename5%>" alt="" />
                        </label>
                    <input type="file" name="imagen5"  id="image5" placeholder="image 5"  accept=".png, .jpg, .jpeg"  value="" /> 
                    
                    <% if(locals.errors && errors.image5){ %>
                    <p class="mensajeError"><%= errors.image5.msg  %> </p>
                    <% } %>
                    </div> 
                </div>
                <br>
                <br>
                <button class="formb" type="submit">Editar</button>   
                <br>
                <br>
            </form>
    <%- include('../partials/footer')%>
    <script src= "/js/productosedit.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>